@model TechReady.Portal.Models.PrimaryTechnology

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrimaryTechnology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryTech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryTech)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PrimaryTechnologyID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
