
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron" style="margin-top:40px;">

    <h2>DX India</h2>
    <p class="lead">Welcome to the master View!</p>
</div>

<div class="row" style="padding-top:100px;">


    <div class="col-md-3">
        <a class="btn btn-default " href="/Themes/Create" style="">Themes</a>
    </div>

    <div class="col-md-3">
        <a class="btn btn-default " href="/Cities/Create" style="">Cities</a>
    </div>

    <div class="col-md-3">
        <a class="btn btn-default " href="/Speakers/Index" style="">Speakers</a>
    </div>

    <div class="col-md-3">
        <a class="btn btn-default " href="/Tracks/Index" style="">Tracks</a>
    </div>

</div>

