@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@


<div class="jumbotron" style="margin-top:40px;">

    <h2>DX India</h2>
    <p class="lead">Welcome to DX events Master View!</p>
</div>

<div class="row" style="padding-top:100px;">

</div>
<div class="col-md-3">
    <a class="btn btn-default pull-right" href="/Themes/Index" style="">Themes</a>
</div>

<div class="col-md-3">
    <a class="btn btn-default pull-right" href="/Cities/Index" style="">Cities</a>
</div>

<div class="col-md-3">
    <a class="btn btn-default pull-right" href="/Speakers/Index" style="">Speakers</a>
</div>
 </div>