
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:40px;">
  
    <h2>DX India</h2>
    <p class="lead">Welcome! This is an application to manage all events handled by DX India. These can be a combination of first party conferences and camps, industry conferences and external meetups.</p>
</div>

@*uncomment this*@
@*<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default pull-right" href="/ManageEvents/Index" style="">Event Management</a>
    </div>

    <div class="col-md-6" >
        <a class="btn btn-default pull-left" href="/Masters" style="">Master View</a>
    </div>
</div>*@  





   @*<div class="row" style="padding-top:10px;">
        <div class="col-md-6">
            <a class="btn btn-default" href="/Feedbacks/Index" style="">View Feedbacks</a>

        </div>
        <div class="col-md-6">
            <a class="btn btn-default pull-right" href="/Themes/Create" style="">Add a new theme</a>
        </div>
    </div>*@

